<%- include("templates/header") %> 
            <!-- 로그인되어 있지 않은 경우, 회원가입 버튼 표시 -->
        <button style="margin-left: 40px; margin-bottom: 5px;"><a href="http://localhost:3070/signup" 
            style="text-decoration: none; display: block; padding: 5px;">Sign Up</a></button><br>
        <button style="margin-left: 40px; "><a href="http://localhost:3070/login"
            style="text-decoration: none; display: block; padding: 5px;">Log In</a></button>
<%- include("templates/footer") %> 

