<%- include("templates/header") %> 
    <h1>Hello, <%= username %>!</h1>
    <button style="margin-left: 40px; margin-bottom: 5px;"><a href="https://db-assignment1-v2.onrender.com/members" 
        style="text-decoration: none; display: block; padding: 5px;">Go to Members Area</a></button><br>
    <button style="margin-left: 40px; "><a href="https://db-assignment1-v2.onrender.com/logout"
        style="text-decoration: none; display: block; padding: 5px;">Logout</a></button>

<%- include("templates/footer") %> 
